@model List<test.Src.Entity.ClassInfo>

<div class="container">
    <a asp-controller="ClassInfo" asp-action="Create" class="btn btn-primary">Create</a>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>

                </td>
            </tr>
        }
        </tbody>
    </table>
    <div id="app">
        <input type="text" v-model="x">
        <span>{{x}}</span>
    </div>
</div>

@section Scripts{
    <script>

        $(() => {

            var app = Vue.createApp({
                setup(){
                    const x = Vue.ref(null);
                    Vue.watch((x) , () => {
                        console.log(x.value);
                    });
                    return {
                        x
                    }
                }
            })
            app.mount("#app");

        })

    </script>
}